In [ ]:
from re import I
A = set()

for i in range (1, 26):
  if i% 2 ==1:
    A.add(i)
print ('A= ',A)

B = set ()

for i in range (6, 20):
  B.add(i)
  ++i
print ('B= ', B)

C = {1, 4, 7, 8, 12, 16, 18, 21}
print ('C= ', C)

D = {2,3,5,7,11,13,17,19,23,29,31,37,41,43,47}
print ('D= ',D)

o1 = A.intersection(B.symmetric_difference(D))
o2 = (B.intersection(C)).union(D)
o3 = (A.union(C)).difference(B)
o4 = (B.difference(C)).symmetric_difference(A.intersection(C))

print ("Operación 1: ", o1)
print ("Operación 2: ", o2)
print ("Operación 3: ", o3)
print ("Operación 4: ", o4)

A=  {1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25}
B=  {6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
C=  {1, 4, 7, 8, 12, 16, 18, 21}
D=  {2, 3, 37, 5, 7, 41, 11, 43, 13, 47, 17, 19, 23, 29, 31}
Operación 1:  {3, 5, 9, 15, 23}
Operación 2:  {2, 3, 5, 7, 8, 11, 12, 13, 16, 17, 18, 19, 23, 29, 31, 37, 41, 43, 47}
Operación 3:  {1, 3, 4, 5, 21, 23, 25}
Operación 4:  {1, 6, 7, 9, 10, 11, 13, 14, 15, 17, 19, 21}