
**1. Convierta a base 16 los siguientes números:**

In [2]:
numa = 611
numb = 48
numc = 5000
numd = 6199

num = [numa,numb,numc,numd]

def decimal_a_hexadecimal(decimal):
    hex = "0123456789ABCDEF"
    if decimal == 0:
        return "0"
    hexadecimal = ""
    while decimal > 0:
        residuo = decimal % 16
        hexadecimal = hex[residuo] + hexadecimal
        decimal = decimal // 16
    return hexadecimal

for i in num:
  num_hexadecimal = decimal_a_hexadecimal(i)
  print(f"El número decimal equivalente a ",i," octal es: ",num_hexadecimal)

El número decimal equivalente a  611  octal es:  263
El número decimal equivalente a  48  octal es:  30
El número decimal equivalente a  5000  octal es:  1388
El número decimal equivalente a  6199  octal es:  1837

**2. Convierta a base 10 los siguientes números en base 8:**

In [3]:
numa = "500"
numb = "485"
numc = "5445"
numd = "277"

num = [numa,numb,numc,numd]

def comprobar(num):
  octal = "01234567"
  cont = 0
  for caracter in num:
    cont= 0
    for car_octal in octal:
      if caracter != car_octal:
        cont = cont + 1
      if cont == 8 :
        return "0"
  return num

for i in num:
  num_decimal = int(comprobar(i), 8)
  if num_decimal == 0:
    print(f"El número ",i," no es un número octal")
  else:
    print(f"El número decimal equivalente a ",i," octal es: ",num_decimal)

El número decimal equivalente a  500  octal es:  320
El número  485  no es un número octal
El número decimal equivalente a  5445  octal es:  2853
El número decimal equivalente a  277  octal es:  191

**3. Realizar las siguientes operaciones utilizando una noteación de punto flotante en base 10 con un dígito para el sino del número, 4 dígitos para el exponente con signo y 7 dígitos para el valor absoluto del número:**

a) 75.202,53 + 0,009997 b) 533,075 - 38.611,007 c) 0,38654 * 0,00012097 d) 37,86093 / 0,000103862


---



Las operaciones se hacen con 4 cifras significativas y se acomoda al exponente mayor.

Suma:

(0,7520 * 10^5) + (0,00000009997 * 10^5) = 0,7520001 * 10^5 = 0,7520 * 10^5

Resta:

(0,005331 * 10^5) - (0,3861 * 10^5) = -0,380769 * 10^5 = -0,3808 * 10^5

Multiplicación:

(0,3865 * 10^0) * (0,0001210 * 10^0) = 0,0000467665 * 10^0 = 0,4677 * 10^4

División:

(0,3786 * 10^2) / (0,1039 * 10^-3) = 3,643888354 * 10^5 = 0,3644 * 10^6